.navbar li {
    display: inline-block;
    text-align: center;
  }

.navbar ul {
  padding: 0;
}
  
.itemLeft {
  width: 15%;
}

.itemCenter {
  width: 70%;
  font-size: 16px;
}

.itemRight {
  width: 15%;
  font-size: 20px;
}

.navbar {
  background: #275879;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  height: 90px
}

/* .logoimg {
  width: 180px
} */

li {
  color: white;
  /* padding: 15px 0; */
}
